Flask==1.1.1
Flask_Dance==2.2.0
Werkzeug==0.15.6
requests==2.22.0
PyYAML==5.1.2
Flask-Mail==0.9.1
mysql-connector==2.2.9
python-dateutil==2.8.0
cryptography==2.7
packaging==19.2
sqlalchemy==1.3.12
flask-sqlalchemy==2.4.1
Flask-Migrate==2.5.2
