<p>
Only the external volume, where Galaxy data are stored, is encrypted, not the Virtual Machine root disk. The encryption layer should be secure enough to protect data uploaded from users to the Galaxy instance from any unwanted attention. However, users must be aware that the responsibility of correctly handling any sensitive data they upload to Laniakea falls on them and that the administrators of the Laniakea service can not be considered responsible for any data breach that may happen due to negligence by Galaxy users or the action of external malicious attackers.
</p>
<p>
Finally, we recommend you to backup your passphrase and regularly backup your data. Be aware that in the case you lose your encryption passphrase we will not be able to offer any assistance in retrieving data stored on the encrypted volume.
</p>
<p>
For more information we invite you to visit our <a href="https://laniakea.readthedocs.io/en/latest/user_documentation/encryption/manage_encrypted_instance.html" target="_blank">documentation page</a>.
</p>
