<!-- start tabs creation section -->
<ul class="nav nav-tabs">
{% set tabs=template['tabs'] %}
{% set inputs=template['inputs'] %}

{% if tabs|length == 0 %}
{% set tabs = ['Configuration'] %}
{% endif %}

  {% for tab in tabs %}
    {% if loop.first %}
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href=#{{tab}}>{{tab}}</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href=#{{tab}}>{{tab}}</a></li>
    {% endif %}
  {% endfor %}

  {% if session['enable_advanced_menu'] == "yes" %}
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href=#Advanced>Advanced</a></li> <!-- always create advanced tab -->
  {% endif %}
</ul>
  <!-- end tab creation section -->

<div class="tab-content">
  <!-- inputs -->
    {% for tab in tabs %}
      {% if loop.first %}
        <div id={{tab}} class="tab-pane fade show active">
      {% else %}
        <div id={{tab}} class="tab-pane fade">
      {% endif %}

      <br>
      {% for key, value in inputs.items() %}
        {% if value.tab == tab or ( tab == tabs[0] and value.tab is not defined) %}
          {% include 'input_types.html' %}
        {% endif %}
      {% endfor %}
      </div>
    {% endfor %}
  <!-- end inputs -->

  <!-- scheduling -->
  <br>
  <div id="Advanced" class="tab-pane fade">
    {% include 'scheduling.html' %}
  </div>
</div>
