{% extends "base.html" %}

{% block content %}
<!--style>
.jumbotron{
 border: 2px solid black;
 padding: 25px;
}
</style-->

<div class = "jumbotron jumbotron-fluid jumbotron-custom">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Welcome to the INFN Cloud Dashboard!</h1>
        <p>If you have an account, please log-in.</p>
        <p>
          <a class="btn btn-primary btn-lg" role="button" href="{{ url_for("iam.login") }}">Login with IAM &raquo;</a>
        </p>
      </div>
      <div class="col">
        <img src="static/images/logo_infn.png"></img>
      </div>
    </div>	  
  </div>
</div>

<style>
.jumbotron-custom {
    background: #1C486F;
    background-image: url(/static/images/network.png);	    
    background-repeat: no-repeat;
    background-position: bottom;
    color: #ffffff;
    padding-bottom:300px;
    font-weight: bold;
    font-family: 'Thasadith', sans-serif;
}
</style>
{% endblock %}

